* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #fff;
    background-color: #000000;
}

.overview {
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #000;
    height: 70vh;
    
    background-color: #49055a;
}

